{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="row">
        <div class='col-sm'>
          <h2 class="account-heading">{{ user.username }}</h2>
          <small><a class="ml-2" href="#">Edit</a></small>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-6 offset-1">

          <table class="table table-borderless">

            <tbody>
              <tr>
                <td>Email: </td>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <td>FTP: </td>
                <td>{{ user.profile.FTP }}</td>
                <!-- <td>{{ user_FTP_tests }}</td> -->
              </tr>
              <tr>
                <td>Weight: </td>
                <td>{{ user.profile.weight }}</td>
              </tr>
              <tr>
                <td>WKG: </td>
                <td>{{ user.profile.wkg }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock content %}
