{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" data-bgimage="url({% static 'images/background/3d_180degC.png' %}) bottom">
        <div class="center-y relative" data-scroll-speed="4">

            <div class="container">
                <div class="row">
                    <div class="col-md-2 offset-1">
                        <div class="content-section">

                            <ul class="list-group">
                                <a href="{% url 'profile-edit' user.id %}">
                                    <li class="list-group-item list-group-item-light">Profile settings</li>
                                </a>
                                <a href="{% url 'password-change-view' %}">
                                    <li class="list-group-item active">Update password</li>
                                </a>
                            </ul>
                            </p>
                        </div>
                    </div>

                    <div class="content-section col-md-6 offset-1">
                        <div class="row justify-content-center">
                            <h3>Password change successful</h3>
                        </div>
                        <div class="row justify-content-center">
                            <p><a href="{% url 'profile-by-id' user.id %}">Back to profile</p></a>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </section>


</div>


{% endblock content %}