{% extends "users/profile_base.html" %} {% load static %} {% block profile %} {% load crispy_forms_tags %}

<div class="content-section col-md-6 offset-1">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <!-- <legend class="border-bottom mb-4 text-center">Add new race </legend> -->
            {{ form|crispy }}

        </fieldset>
        <div class="form-group">
            <div class="row justify-content-center">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>

        </div>
    </form>
</div>

{% endblock profile %}