{% extends "users/profile_base.html" %} {% load static %} {% block profile %}

<div class="col-md-6 offset-0 my-3">
    <div class="justify-content-center ml-2 border-bottom  my-3">
        Profile
    </div>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td class="text-right">Zwiftpower profile: </td>
                <td class="text-left"><a href="{{ profile.zwiftpower_link }}" target="_blank">{{profile.zwiftpower_link }}</a></td>
            </tr>
            <tr>
                <td class="text-right">FTP: </td>
                <td class="text-left">{{ profile.FTP }}</td>
                <!-- <td>{{ user_FTP_tests }}</td> -->
            </tr>
            <tr>
                <td class="text-right">Weight: </td>
                <td class="text-left">{{ profile.weight }}</td>
            </tr>
            <tr>
                <td class="text-right">WKG: </td>
                <td class="text-left">{{ profile.wkg }}</td>
            </tr>
        </tbody>
    </table>
    <small><a class="ml-2" href="{% url 'profile-edit' user.id %}">Edit profile</a></small>
</div>

{% endblock profile %}