{% extends "base.html" %} {% load static %} {% block content %}
<div class="no-bottom no-top" id="content">

    <!-- section begin -->
    <section id="subheader" data-bgimage="url({% static 'images/background/3d_180degC.png' %}) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
                            <div class="col-md-12 text-center">
                                <h1>Race overview</h1>
                                <p>ZRL season {{ season_nr }} </p>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->


    <!-- section begin -->
    <section class="no-top">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-1">

                    <table class="table  js-sort-table">
                        <thead>
                            <tr>
                                <th>Participant</th>
                                <th>FTP</th>
                                <th>Weight</th>
                                <th>wkg</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for signup in signups %}
                            <tr>
                                <td>{{ signup.participant}}</td>
                                <td>{{ signup.participant.profile.FTP }}</td>
                                <td>{{ signup.participant.profile.weight }}</td>
                                <td>{{ signup.participant.profile.wkg|floatformat:2 }}</td>
                                {% if signup.participant == user %}
                                <td><a href="{% url 'remove-signup' signup.id %}" role='button' class='btn-link'>Cancel
                                        signup</a></td>
                                {% else %}
                                <td></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-3">
                {% if show_signup_button %}
                <div class="col pb-5 text-center">
                    <a href="{% url 'race-signup' race_id %}" role='button' class="btn btn-outline-info">Signup</a>
                </div>
            </div>
            {% endif %}
        </div>

    </section>
    <!-- section close -->


</div>
{% endblock content %}