{% extends "base.html" %} {% load static %} {% block content %}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" data-bgimage="url({% static 'images/background/3d_180degC.png' %}) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
                            <div class="col-md-12 text-center">
                                <h1>Race overview</h1>
                                <p>ZRL season {{ season_nr }} </p>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->


    <!-- section begin -->
    <section class="no-top">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-1">

                    <table class="table js-sort-table table-hover">

                        <thead class=''>
                            <tr>
                                <th >Race</th>
                                <th>Date </th>
                                <th>Race type</th>
                                <th>Distance</th>
                                <th>Zwiftinsider course</th>
                                <th>Signup</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for race in races %}

                            {% if race.is_finished %}
                            <tr class="">
                                <td><a href="{% url 'race-detail' race.id %}">{{ race.number }} - {{ race.course }} </a></td>
                                <td>{{ race.date|date:"d - M - Y" }}</td>
                                <td>{{ race.racetype }} </td>
                                <td>{{ race.distance }}</td>
                                <td><a href="{{ race.zwiftinsider_route_link }}" >Course link</a></td>
                                <td></td>
                            </tr>


                            {% else %}
                            <tr></tr>
                                <td><a href="{% url 'race-detail' race.id %}">{{ race.number }} - {{ race.course }} </a></td>
                                <td>{{ race.date|date:"d - M - Y" }}</td>
                                <td>{{ race.racetype }} </td>
                                <td>{{ race.distance }}</td>
                                <td><a href="{{ race.zwiftinsider_route_link }}" target="_blank">Course link</a></td>


                                {% if race.user_is_registered %}
                                    <td><a href="{% url 'remove-signup' race.user_signup_id %}" >Cancel signup </a></td>
                                {% else %}
                                    <td><a href="{% url 'race-signup' race.id %}">Signup </a></td>
                                {% endif %}
                            </tr>
                            
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <h3 class="display-4 font-weight-normal"></h3>
        {% if user.is_staff %}
        <div class="col pb-5 text-center">
            <a href="{% url 'race-create' season_nr %}" role='button' class="btn btn-outline-info">Add race (staff only)
            </a>
        </div>
        {% endif %}
    </section>
    <!-- section close -->

</div>

<div class="position-relative overflow-hidden p-1 m-md-3 text-center bg-light">
    <div class="col-md-6 p-1 mx-auto ">
        <h3 class="display-4 font-weight-normal"></h3>

        <div class="product-device shadow-sm d-none d-md-block"></div>

    </div>

</div>

{% endblock content %}