{% extends "base.html" %} {% load static %} {% block content %}
<div class="no-bottom no-top" id="content">

    <!-- section begin -->
    <section id="subheader" data-bgimage="url({% static 'images/background/3d_180degC.png' %}) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
                            <div class="col-md-12 text-center">
                                <h1>Race overview</h1>
                                <p>ZRL season {{ signups.race.season }} </p>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->


    <!-- section begin -->
    <section class="no-top">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-1">

                    <table class="table  js-sort-table">
                        <thead>
                            <tr>
                                <th>Participant</th>
                                <th>FTP</th>
                                <th>Weight</th>
                                <th>wkg</th>
                                <th>Team 1</th>
                                <th>Team 2</th>
                                <th>Team B</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for signup in signups %}
                            <tr>
                                <td>{{ signup.participant}}</td>
                                <td>{{ signup.participant.profile.FTP }}</td>
                                <td>{{ signup.participant.profile.weight }}</td>
                                <td>{{ signup.participant.profile.wkg|floatformat:2 }}</td>
                                <td><input type="radio" name="radio" value="Team 1"></td>
                                <td><input type="radio" name="radio" value="Team 2"></td>
                                <td><input type="radio" name="radio" value="Team B"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-3">

                <div class="col pb-5 text-center">
                    <a href="" role='button' class="btn btn-outline-info">Save</a>
                </div>
            </div>

        </div>

    </section>
    <!-- section close -->


</div>
{% endblock content %}